.darkLight{
    height: 80px;
    width: 80px;
    position: absolute;
    right: 80px;
    top: -40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.turn{
    font-size: 50px;
    color: black;
}